.fade-in-section {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1.5s ease-out, transform 1.5s ease-out;
  will-change: opacity, transform;
}

.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
}

.animated-title-wrapper {
  text-align: center;
  margin-bottom: 1rem;
}

.typewriter {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid #fff;
  width: 0;
  visibility: hidden;
  font-size: xx-large;
  font-weight: bold;
}

.typewriter.animate {
  visibility: visible;
  animation: typewriter 2.5s steps(40, end) forwards,
             blinkCaret 0.75s step-end infinite;
}

@keyframes typewriter {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes blinkCaret {
  50% { border-color: transparent; }
}